:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a28268;
  --font-weight-primary: 400;
  --font-weight-secondary: 600;
  --font-weight-bald: 900;
  --font-size-14px: 14px;
}

$bp-mobile: 480px;
$bp-tablet: 790px;
$bp-desktop: 1280px;
