.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  margin-bottom: 16px;
}
.link:hover {
  color: var(--color-brand-normal);
  cursor: pointer;
}
