.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;

  &__button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-secondary-dark);
    cursor: pointer;

    &-active {
      background: var(--color-brand-normal);
    }
  }
}
