.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  &__content {
    max-width: 710px;
    padding-bottom: 42px;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
  }

  &__text {
    margin-bottom: 42px;
    &--limited {
      max-width: 389px;
    }
  }
}
