.formats-section {
  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    overflow: hidden;
  }
  &__container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__item {
    width: calc((100% - 40px) / 3);
    flex-shrink: 0;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}
@media (min-width: $bp-tablet) {
  .swiper-slide {
    width: calc((100% - 20px) / 2);
  }
}
@media (min-width: $bp-desktop) {
  .swiper-slide {
    width: calc((100% - 40px) / 3);
  }
}